@use '../../../fonts.scss' as f;
@use '../../../colors.scss' as c;

.header {
  display: flex;
  justify-content: center;
  align-items: center;

  &__title {
    font-size: 52px;
    font-family: f.$text; 
    font-weight: 500;
    color: c.$text-blue;
    letter-spacing: 1px;
    text-align: center;
  }
}
