// Основные цвета
$primary: #4f9db9;
$primary-hover: #3a8fab;
$accent: #08c5c2;
$accent-hover: #00aaa6;
$bg-light: #fff8e6;
$text-main: #2c2c2c;
$text-light: #fefaec;
$text-grey: #5a5a5a;
$text-blue: #2f4d77;
$yellow-accent: #ffdc82;
$yellow-accent-hover: #f3c758;