@use 'fonts' as f;

* {
  box-sizing: border-box;
  font-size: 20px;
  font-family: f.$text;

  &:focus-visible {
    outline: 1px solid #4d90fe; /* Классический синий цвет обводки */
    outline-offset: 2px;
  }
}

html,
body {
  margin: 0;
  padding: 0;
  min-width: 300px;
}

h1, h2, h3 {
  font-weight: 600;
}


a {
  text-decoration: none;
}

.app_wrapper {
  background-image: url('../assets/images/bg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
  gap: 20px;
  // height: 100vh;
}

